<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <title>
    나의주문내역상세 | 더한섬닷컴</title>
  <link rel="shortcut icon" href="https://www.thehandsome.com/_ui/mobile/common/images/common/thehandsome_ic_16x16.ico">
  <link rel="apple-touch-icon" href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
  <link rel="apple-touch-icon-precomposed"
    href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
  <link rel="apple-touch-icon-120x120"
    href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
  <link rel="apple-touch-icon-120x120-precomposed"
    href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
  <link rel="shortcut icon" type="image/x-icon" media="all" href="//">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/font_443.css" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/jquery-ui.css" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/selectordie.css" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/default.css?202200826" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/display.css?20221107" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/assist.css?20220929" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/devAssist.css" rel="stylesheet"
    type="text/css">
  <link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/popup.css" rel="stylesheet"
    type="text/css">
  <script type="text/javascript">
    var ACCMOB = { config: {} };
    ACCMOB.config.contextPath = "";
    ACCMOB.config.encodedContextPath = "/ko";
    ACCMOB.config.commonResourcePath = "https://www.thehandsome.com/_ui/handsomemobile/common";
    ACCMOB.config.themeResourcePath = "https://www.thehandsome.com/_ui/handsomemobile/theme-blue";
    ACCMOB.config.siteResourcePath = "https://www.thehandsome.com/_ui/handsomemobile/site-handsome";
    ACCMOB.config.rootPath = "https://www.thehandsome.com/_ui/handsomemobile";
    ACCMOB.config.CSRFToken = "22d3ff77-b4b5-4dad-8753-bc8d6c2f64c8";
  </script>
  <script type="text/javascript">
    ACCMOB.addons = {};
  </script>
  <script type="text/javascript">
    var handsomePageId = "myOrderDetailPage";
    var main_bul = false;
  </script>
  <script type="text/javascript">
    var handsomeUserLoginYn = "Y";
  </script>
  <script type="text/javascript">
    var isoKoYn = "Y";
  </script>
  <script type="text/javascript">
    var handsomeIsoCode = "ko";
    var handsomeContextPath = "/ko"; 
  </script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery.vticker.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript"
    src="https://www.thehandsome.com/_ui/handsomemobile/js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery.form.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/swiper.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/selectordie.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/jquery.bpopup.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/echarts.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/common.js?20210501"></script>
  <script type="text/javascript"
    src="https://www.thehandsome.com/_ui/handsomemobile/js/assist_common.js?v=20220630"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/assist_new.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/handsome.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/common_function.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/json2.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/SsoAjax.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/instagramAPI.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/makePCookie.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/content.js"></script>
  <script type="text/javascript"
    src="https://www.thehandsome.com/_ui/handsomemobile/js/e-smart-zoom-jquery.min.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/popup.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/simplepagination.js"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/netfunnel.js"
    charset="UTF-8"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/netfunnel_skin.js"
    charset="UTF-8"></script>
  <script type="text/javascript" src="https://www.thehandsome.com/_ui/handsomemobile/js/unorm.js"></script>
  <script type="text/javascript">
    function GA_Event(Category, Action, Label) {
      Label = unescape(Label).replace(/\&#039;/gi, "'").replace(/\&amp;/g, "&");
      var v_Label = Label;
      var v_Category = Category;
      var v_Action = Action;
      //공백처리을  _ 처리
      if (Category != null) {
        v_Category = Category.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
      }
      if (Action != null) {
        v_Action = Action.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
      }
      if (Label != null) {
        v_Label = Label.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
      }
      console.log(v_Category, v_Action, v_Label);
      ga('gp.send', 'event', v_Category, v_Action, v_Label);
    }
    if (!String.prototype.endsWith) {
      String.prototype.endsWith = function (searchString, position) {
        var subjectString = this.toString();
        if (typeof position !== 'number' || !isFinite(position) || Math.floor(position) !== position || position > subjectString.length) {
          position = subjectString.length;
        }
        position -= searchString.length;
        var lastIndex = subjectString.indexOf(searchString, position);
        return lastIndex !== -1 && lastIndex === position;
      };
    }
  </script>
  <script>
    var pageviewObj = new Object();
    pageviewObj = setDimensionData();
  </script>
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/grb-recommend-list_v2.css">
  <link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/custom-swiper.css">
</head>

<body class="back hold_body">
  <form id="CSRFForm" action="/ko/mypage/order/myorderdetail?code=230202P16635554" method="post">
    <div>
      <input type="hidden" name="CSRFToken" value="22d3ff77-b4b5-4dad-8753-bc8d6c2f64c8">
    </div>
  </form>
  <div class="hsome_allContents_wrapper">
    <div class="hsome_allContents">
      <script type="text/javascript">
      </script>
      <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e6fc45b5bc283b8da3567c25fee32805&amp;libraries=services"></script>
      <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/main/4.4.8/kakao.js"></script>
      <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/libs/services/1.0.2/services.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $(".goods_list_wrap .btn_wrap").each(function (idx, obj) {
            if ($(obj).find("a").length === 0) {
              $(obj).hide();
            }
            var btnLength = $(obj).find("a").length;
            $(obj).addClass("btn_wrap_div" + btnLength);
            $(obj).css("opacity", "1");
          });
        });
        function globalCancelRequest(code) {
          var lc = new globalLayerAlert();
          lc.confirmAction = function () {
            location.href = '/ko/mypage/order/cancelrequest?code=' + code + '&isall=Y';
          };
        }
        var globalLayerAlert = function () {
          var alertTag = "";
          alertTag += '<div class="popback_191022">';
          alertTag += '	<div class="bg191022"></div>';
          alertTag += '	<div class="notipop_20191022">';
          alertTag += '		<div class="pop_cnt">';
          alertTag += '			<div class="notipop_20191022_cnt">';
          alertTag += '				<p>mypage.order.history.list.global.cancel.message1<br><br></p>';
          alertTag += '				<p>';
          alertTag += '					mypage.order.history.list.global.cancel.message2';
          if (false) {
            alertTag += '					mypage.order.history.list.global.cancel.message3';
          }
          alertTag += '				</p>';
          alertTag += '			</div>';
          alertTag += '			<div class="hs_pop_btn_wrap">';
          alertTag += '				<button class="hs_white_comm_btn">handsome.checkout.customduties.vat.lessthan80.confirm.btnCancel</button>';
          alertTag += '				<button class="hs_black_comm_btn">handsome.checkout.customduties.vat.lessthan80.confirm.btnOk</button>';
          alertTag += '			</div>';
          alertTag += '		<a href="#" class="btn_close191022 dvp_close_btn b-close" id="confirmCloseDiv">';
          alertTag += '			<img src="http://cdn.thehandsome.comhttps://www.thehandsome.com/_ui/handsomemobile/images/common_sub/ico_close_14.png">';
          alertTag += '		</a>';
          alertTag += '	</div>';
          alertTag += '</div>';
          var t = this;
          this.confirmAction = function () { };
          this.cancelAction = function () { };
          $("#popAlertConfirmDiv").find('.hs_white_comm_btn').click(function () {
            $("#confirmCloseDiv").click();
            t.cancelAction();
          });
          $("#popAlertConfirmDiv").find('.hs_black_comm_btn').click(function () {
            $("#confirmCloseDiv").click();
            t.confirmAction();
          });
        }
      </script>
      <input type="hidden" id="tempCheckQuick" value="">
      <div id="contents" class="hsome_contents mp_order_view_wrap mp_order_view_goods_back_detail_wrap">

        <!-- 주문번호 s -->
        <div class="order_view_msg_wrap gray_box">
          <p class="ovm_num">
            주문번호 : <b>230202P16635554</b>
          </p>
          <p class="ovm_date">(주문일시 : 2023.02.02. 20:27)</p>
        </div>
        <!-- 주문번호 e -->
        <!-- df_box : 주문상세_결제정보 s -->
        <div class="df_box">
          <h3 class="df_box_tit">결제정보</h3>
          <div class="payment_total_info">
            국민카드&nbsp;
            <span class="pay_total_price">￦110,250</span>
            (일시불)
          </div>
          <ul class="total_price_detail mp_summary_detail">
            <li>
              <div class="ttpd_tit">판매가</div>
              <div class="ttpd_con">￦122,500</div>
            </li>
            <li>
              <div class="ttpd_tit">할인</div>
              <div class="ttpd_con">- ￦12,250</div>
            </li>
            <li class="sub">
              <div class="ttpd_tit">- 쿠폰할인(10%)</div>
              <div class="ttpd_con">- ￦12,250</div>
            </li>
            <li>
              <div class="ttpd_tit">배송비</div>
              <div class="ttpd_con">￦0</div>
            </li>
            <li class="line">
              <div class="ttpd_tit">합계</div>
              <div class="ttpd_con">￦110,250</div>
            </li>
            <li class="sub">
              <div class="ttpd_tit">적립마일리지/포인트</div>
              <div class="ttpd_con">0M/0P</div>
            </li>
          </ul>
        </div>
        <!-- df_box : 주문상세_결제정보 e -->
        <!-- df_box : 주문상세_환불안내 s -->
        <div class="df_box refund_guide_wrap last_box">
          <div class="slide_border_box">
            <div class="sbb_tit">환불안내
              <div class="slide_border_box_icon">
                <div class="bar bar_vertical"></div>
                <div class="bar bar_horizontal plus"></div>
              </div>
            </div>
            <div class="sbb_slide_con">
              <ul class="ul_dot">
                <li>쿠폰 적용된 상품의 취소/반품 시, 상품 가격에 따라 쿠폰 할인된 금액을 차감 후 환불됩니다.</li>
                <li>기간 만료 시 환급되어도 사용 불가하며, 자세한 사항은 ‘마이페이지&gt;쿠폰’ 메뉴에서 확인하실 수 있습니다.</li>
                <li>쿠폰 적용 여부에 따라서 취소/반품 신청하신 상품의 판매가보다 환불금액이 작을 수 있습니다.</li>
                <li>특정 구매금액 이상일 때 적용되는 쿠폰의 경우 환불로 인해 구매금액이 감소할 때 쿠폰 적용이 취소될 수 있습니다.</li>
                <li>반품 시 환불예상금액에서 반품배송비가 차감될 수 있습니다.</li>
                <li>반품배송비는 한섬마일리지 &gt; e-money &gt; 주결제수단(신용카드 등) 순으로 차감됩니다.</li>
                <li>반품배송비 결제를 [차감 후 환불]로 선택하신 경우는 환불예상금액에서 반품배송비가 차감됩니다.</li>
                <li>환불 시 결제수단별 환불 순서는 다음과 같습니다.
                  <ul>
                    <li>1.주결제수단 환불</li>
                    <li>2.기프트카드 환급</li>
                    <li>3.한섬마일리지 환급</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- df_box : 주문상세_환불안내 e -->
    <script type="text/javascript">
      var height = 20;
      var num = 0;
      var max = height * num;
      var move = 0;
      var lastChild;
      var notiCnt = 0;
      var curTabId = 0;
      $(function () {
        var pcVersionButtons = null;
        if (getCookie("app") != "android" && getCookie("app") != "ios") {
          pcVersionButtons = '<a href="javascript:moveDesktop();">PC버전</a>';
          $("#pcVersion").html(pcVersionButtons);
        } else {
          $("#footerMenu").prop("class", "menu m3");
        }
      });
      function hpAutoLogin(data) {
        if (data.succYn == "Y") {
          $.ajax({
            type: "GET",
            url: "/ko/hpoint/simpleJoinMember",
            data: { "mcustNo": data.mcustNo },
            success: function (data) {
              if (data.resultCode == "L") {
                $("#hcid").val(data.uid);
                $("#autologinForm").submit();
              }
            },
            error: function (e) {
            }
          });
        }
      }
    </script>
    <script>
      $(window).load(function () {
        function noticeRolling() {
          if (notiCnt > 1) {
            height = 20;
            num = notiCnt;
            max = height * num;
            move += height;
            //메인여부 체크(메인진입시 1개, 메인탭별 푸터 진입시 1개씩 추가)
            if ($(".notice-wrap").length > 1) {
              $("#topNav1909 li").each(function (index) {
                if ($(this).hasClass("on")) {
                  curTabId = index;
                }
              })
              $("footer#footer" + curTabId + " .notice-wrap").animate({ "top": -move }, 600, function () {
                if (move >= max) {
                  $(this).css("top", 0);
                  move = 0;
                }
              });
            } else {
              $(".notice-wrap").animate({ "top": -move }, 600, function () {
                if (move >= max) {
                  $(this).css("top", 0);
                  move = 0;
                }
              });
            }
          }
        };
        noticeRollingOff = setInterval(noticeRolling, 3000);
        //메인여부 체크(메인진입시 1개, 메인탭별 푸터 진입시 1개씩 추가)
        if ($(".notice-wrap").length > 1) {
          $("#topNav1909 li").each(function (index) {
            if ($(this).hasClass("on")) {
              curTabId = index;
            }
          })
          $("footer#footer" + curTabId + " .notice-wrap").append($("footer#footer" + curTabId + " .notice-wrap li").first().clone());
        } else {
          $(".notice-wrap").append($('.notice-wrap li').first().clone());
        }
      });
    </script>
  </div>
  <a href="noLink();" class="hsome_topBtn upper" id="handsomeTopBtn">mobile.bottom.top</a>
  <script type="text/javascript">
    function goMypage() {
      $.cookie("handsomeappreturnurl", "/ko/", { path: "/" });
      location.href = "/ko/mypage/mypageFloatingPopup";
    }
    $(window).load(function () {
      //모든 리소스 로드 후에 처리
      $('.hsome_quickMenu').addClass('active');

    });
    function goMainpage() {
      window.sessionStorage.removeItem('moveYn');
      window.sessionStorage.removeItem('width');
      window.sessionStorage.removeItem('height');
      location.href = "/ko/main";
    }
  </script>
  <script>
    function getCSRFToken() {
      return "CSRFToken=" + $("#CSRFForm [name='CSRFToken']").first().val();
    }
    function slideOnMain() {
      var autocom_swiper = new Swiper('#autocompleteImg', {
        slidesPerView: 3.333,
        paginationClickable: false,
        spaceBetween: "1.5625%",
        freeMode: true,
      });
    }
    //레이어 팝업 오픈
    function layerPopupOpen(url, layer, pop) {
      $.cookie("handsomelayerscroll", $(document).scrollTop(), { path: "/" });
      $(layer).addClass("active");
      setTimeout(function () {
        $(".hsome_allContents").addClass("disabled");
      }, 300);
      setTimeout(function () {
        $(layer).addClass("visible");
      }, 400);
      $(layer).html('<img src="https://www.thehandsome.com/_ui/handsomemobile/images/common/Spinner-1s-200px.png" alt="loading" class="hsome_quickMenu_loader" />');
      jQuery.ajax({
        url: url,
        data: "",
        type: "get",
        success: function (data) {
          setTimeout(function () {
            $(layer).html(data);
            $(pop).addClass('visible');
          }, 0);
          setTimeout(function () {
            $(pop).addClass('active');
          }, 0);
          setTimeout(function () {
            $(pop).addClass('activated');
          }, 400);
        }
      });
    }
    //레이어 팝업 닫기
    function layerPopupClose(layer, pop) {
      var $popup = $(this).closest(pop);
      $popup.removeClass('activated');
      $popup.removeClass('active');
      setTimeout(function () {
        $popup.removeClass('visible');
        $(".hsome_allContents").removeClass("disabled");
        $(layer).removeClass("active");
        $(layer).removeClass("visible");
        if ($.cookie("handsomelayerscroll") !== null) {
          $(document).scrollTop(getCookie("handsomelayerscroll"));
        }
      }, 400);
      return false;
    }
    //레이어 팝업 닫기
    function layerPopupClose2(layer, pop) {
      $(pop).removeClass('activated');
      $(pop).removeClass('active');
      setTimeout(function () {
        $(pop).removeClass('visible');
        $(".hsome_allContents").removeClass("disabled");
        $(layer).removeClass("active");
        $(layer).removeClass("visible");
        if ($.cookie("handsomelayerscroll") !== null) {
          $(document).scrollTop(getCookie("handsomelayerscroll"));
        }
      }, 400);
      return false;
    }
    function saveWishContents(contentType, templateType, contentPK, contentSubject) {
      $.ajax({
        url: '/ko/magazine/saveMyWishContents',
        type: 'POST',
        datatype: 'json',
        data: {
          'contentType': contentType,
          'templateType': templateType,
          'contentPK': contentPK,
          'contentSubject': contentSubject,
          'CSRFToken': $("#CSRFForm [name='CSRFToken']").first().val()
        },
        success: function (data) {
        }
      });
    }
    //쿠키 생성
    function setOneDayCookie(cName, cValue, cDay) {
      var currentDate = new Date();
      var expire = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() + cDay, 0, 0, 0);
      cookies = cName + '=' + escape(cValue) + '; path=/ ';
      if (typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
      document.cookie = cookies;
    }
  </script>
  <div id="iframepopuparea"></div>
  <script type="text/javascript">
    var btnConfirmText = "확인";
    var btnCancleText = "취소";
    var btnCloseText = "닫기";
    var layerAlert = function (msg, refresh) {
      btnConfirmText = "확인";
      var t = this;
      this.confirmAction = function () {
      };
      var alertTag = "";
      alertTag += "<div class=\"dvp_container\">";
      alertTag += "	<div class=\"dvp_close_btn b-close\" id=\"alertCloseDiv\"><span>" + btnCloseText + "</span></div>";
      alertTag += "	<h1 class=\"dvp_header\"></h1>";
      alertTag += "	<div class=\"dvp_content\">";
      alertTag += "		<div class=\"desc_box\">" + msg + "</div>";
      alertTag += "	</div>";
      alertTag += "	<div class=\"btn_wrap\">";
      alertTag += "		<button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      alertTag += "	</div>";
      alertTag += "</div>";
      $("#popAlertConfirmDiv").html(alertTag);
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        if (refresh == true) location.reload();
        $("#alertCloseDiv").click();
        t.confirmAction();
      });
    };
    var layerAlertGnb = function (msg) {
      btnConfirmText = "확인";
      var t = this;
      this.confirmAction = function () {
      };
      var alertTag = "";
      alertTag += "<div class=\"dvp_container\">";
      alertTag += "	<div class=\"dvp_close_btn b-close\" id=\"alertCloseDiv\"><span>" + btnCloseText + "</span></div>";
      alertTag += "	<h1 class=\"dvp_header\"></h1>";
      alertTag += "	<div class=\"dvp_content\">";
      alertTag += "		<div class=\"desc_box\">" + msg + "</div>";
      alertTag += "	</div>";
      alertTag += "	<div class=\"btn_wrap\">";
      alertTag += "		<button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      alertTag += "	</div>";
      alertTag += "</div>";
      $("#popAlertConfirmDiv").html(alertTag);
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        //if(refresh==true) location.reload(); //refresh check 제거
        $("#alertCloseDiv").click();
        t.confirmAction();
      });
    };
    var layerConfirm = function (msg, confirmMsg, cancleMsg) {
      var t = this;
      this.confirmAction = function () {
      };
      this.cancleAction = function () {
      };
      if (confirmMsg != "") { btnConfirmText = confirmMsg; } else { btnConfirmText = "확인" }
      if (cancleMsg != "") { btnCancleText = cancleMsg; } else { btnCancleText = "취소" }
      var confirmTag = "";
      confirmTag += "<div class=\"dvp_container\">";
      confirmTag += "	<div class=\"dvp_close_btn b-close\" id=\"confirmCloseDiv\"><span>" + btnCloseText + "</span></div>";
      confirmTag += "	<div class=\"dvp_content\">";
      confirmTag += "		<div class=\"desc_box\">" + msg + "</div>";
      confirmTag += "	</div>";
      confirmTag += "	<div class=\"btn_wrap btns\">";
      confirmTag += "		<button class=\"btn btn_bd_g btn-alert-close\">" + btnCancleText + "</button>";
      confirmTag += "		<button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      confirmTag += "	</div>";
      confirmTag += "</div>";
      $("#popAlertConfirmDiv").html(confirmTag);
      $("#popAlertConfirmDiv").find('.btn-alert-close').click(function () {
        $("#confirmCloseDiv").click();
        t.cancleAction();
      });
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        $("#confirmCloseDiv").click();
        t.confirmAction();
      });
    };
    /*
    layer popup 형식의 confirm 창
    특정 ios 기종에서 하단 버튼부분이 짤려나오는 현상이 있어서 ios용으로 별도 생성
    */
    var layerConfirmIos = function (msg, confirmMsg, cancleMsg) {
      var t = this;
      var t = this;
      this.confirmAction = function () {
      };
      this.cancleAction = function () {
      };
      if (confirmMsg != "") { btnConfirmText = confirmMsg; } else { btnConfirmText = "확인" }
      if (cancleMsg != "") { btnCancleText = cancleMsg; } else { btnCancleText = "취소" }
      var confirmTag = "";
      confirmTag += "<div class=\"dvp_container\">";
      confirmTag += " <div class=\"dvp_close_btn b-close\" id=\"confirmCloseDiv\"><span>" + btnCloseText + "</span></div>";
      confirmTag += " <div class=\"dvp_content\">";
      confirmTag += " <div class=\"desc_box\">" + msg + "</div>";
      confirmTag += " </div>";
      confirmTag += " <div class=\"btn_wrap btns\">";
      confirmTag += " <button class=\"btn btn_bd_g btn-alert-close\">" + btnCancleText + "</button>";
      confirmTag += " <button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      confirmTag += " </div>";
      confirmTag += "</div>";
      $("#popAlertConfirmDiv").html(confirmTag);
      $("#popAlertConfirmDiv").find('.btn-alert-close').click(function () {
        $("#confirmCloseDiv").click();
        t.cancleAction();
      });
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        $("#confirmCloseDiv").click();
        t.confirmAction();
      });
    };
    /* 
    * var lc = new layerConfirm2('메세지를 입력하세요', '취소버튼', '확인버튼');
    */
    var layerConfirm2 = function (msg, confirmMsg, cancleMsg) {
      var t = this;
      var t = this;
      this.confirmAction = function () {
      };
      this.cancleAction = function () {
      };
      if (confirmMsg != "") { btnConfirmText = confirmMsg; } else { btnConfirmText = "확인" }
      if (cancleMsg != "") { btnCancleText = cancleMsg; } else { btnCancleText = "취소" }
      var confirmTag = "";
      confirmTag += "<div class=\"dvp_container\">";
      confirmTag += " <div class=\"dvp_close_btn b-close\" id=\"confirmCloseDiv\"><span>" + btnCloseText + "</span></div>";
      confirmTag += " <div class=\"dvp_content\">";
      confirmTag += "     <div class=\"desc_box\">" + msg + "</div>";
      confirmTag += " </div>";
      confirmTag += " <div class=\"btn_wrap btns\">";
      confirmTag += "     <button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      confirmTag += "     <button class=\"btn btn_bd_g btn-alert-close\">" + btnCancleText + "</button>";
      confirmTag += " </div>";
      confirmTag += "</div>";
      $("#popAlertConfirmDiv").html(confirmTag);
      $("#popAlertConfirmDiv").find('.btn-alert-close').click(function () {
        $("#confirmCloseDiv").click();
        t.cancleAction();
      });
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        $("#confirmCloseDiv").click();
        t.confirmAction();
      });
    };
    var editableLayer = function (msg, style, refresh) {
      btnConfirmText = "확인";
      var t = this;
      this.confirmAction = function () {
      };
      var alertTag = "";
      alertTag += "<div class=\"dvp_container\" style=\"" + style + "\">";
      alertTag += "   <div class=\"dvp_close_btn b-close\" id=\"alertCloseDiv\"><span>" + btnCloseText + "</span></div>";
      alertTag += "   <h1 class=\"dvp_header\"></h1>";
      alertTag += "   <div class=\"dvp_content\" style=\"margin-top: -21px;\">";
      alertTag += "       <div class=\"desc_box\">" + msg + "</div>";
      alertTag += "   </div>";
      alertTag += "   <div class=\"btn_wrap\" style=\"margin-top: 0px;\">";
      alertTag += "       <button class=\"btn btn_bg_b btn-alert-confirm\">" + btnConfirmText + "</button>";
      alertTag += "   </div>";
      alertTag += "</div>";
      $("#popAlertConfirmDiv").html(alertTag);
      $("#popAlertConfirmDiv").find('.btn-alert-confirm').click(function () {
        if (refresh == true) location.reload();
        $("#alertCloseDiv").click();
      });
      $("#alertCloseDiv").click(function () {
        t.confirmAction();
      })
    };
    function updateLocation() {
      $.ajax({
        type: "POST",
        url: "/ko/mobilecommon/updateLocation",
        datatype: "json",
        data: { "CSRFToken": "22d3ff77-b4b5-4dad-8753-bc8d6c2f64c8", "provideLocationYN": $("#isChcked").val() },
        error: function (request, status, error) {
        },
        success: function (result) {
          if (result == "SUCCESS") {
          }
        }
      });
    }
    function updatePush() {
      $.ajax({
        type: "POST",
        url: "/ko/mobilecommon/updatePush",
        datatype: "json",
        data: { "CSRFToken": "22d3ff77-b4b5-4dad-8753-bc8d6c2f64c8", "pushCd": $("#pushCd").val(), "pushVal": $("#pushVal").val() },
        error: function (request, status, error) {
        },
        success: function (result) {
          if (result == "SUCCESS") {
          }
        }
      });
    }
    function AppCallLocation(result) {
      $("#isChcked").val(result);
      updateLocation();
    }
    function AppCallPushAll(result) {
      $("#pushCd").val("all");
      $("#pushVal").val(result);
      updatePush();
    }
    function AppCallPushOrder(result) {
      $("#pushCd").val("order");
      $("#pushVal").val(result);
      updatePush();
    }
    function AppCallPushEvent(result) {
      $("#pushCd").val("event");
      $("#pushVal").val(result);
      updatePush();
    }
    function AppCallPushBenefit(result) {
      $("#pushCd").val("benefit");
      $("#pushVal").val(result);
      updatePush();
    }
    function AppCallPushSilent(result) {
      $("#pushCd").val("silent");
      $("#pushVal").val(result);
      updatePush();
    }
  </script>
  <!-- layerpopupContent s -->
  <!-- hsome_layer_menu_contents | 레이어팝업메뉴 컨텐츠 영역 s -->
  <!-- depth1 s -->
  <div class="hsome_layerpop_contents lp_depth1 dir_h visible active">
    <script type="text/javascript">
      var cancelRate_en = "";
      var cancelSymbol_en = "";
      var cancelRate_zh = "";
      var cancelSymbol_zh = "";
      var resultDeliverykind = "";
      var athomeAdvancePaymentYn = false;
      var bankList = '<option value="">선택</option>';
      for (var key in result.bankList) {
        bankList += '<option value="' + key + '">' + result.bankList[key] + '</option>';
      }
      $("#returnAccountBank").html(bankList);
      $("#returnAccountName").val(data.ordererName);
      if (resultDeliverykind == "AT_HOME" && data.athomeAdvancePaymentYn == false) {
        $(".atHomeDisabled").hide();
      } else {
        if (data.paymentTransactions == null) {
          data.paymentTransactions = [{
            officeName: "",
            lgdAmount: 0
          }];
        };
        $("[id='oname']").text(data.paymentTransactions[0].officeName);
        $("#payOfficeName").val(data.paymentTransactions[0].officeName);
        $("#payTotalPrice").html('￦' + addComma(data.paymentTransactions[0].lgdAmount));
        if (data.paymentTransactions[0].lgdPayType == "SC0040" && data.status.code != "DEPOSIT_WAIT") {
          $("#refundAccountArea").show();
          $("#returnAccountBank").change(function () {
            cancelButtonAreaTextChange();
          });
          $("#returnAccountNumber").on('keyup keypress', function () {
            cancelButtonAreaTextChange();
          });
        }
      }
      $(document).ready(function () {
        getCancelExchangeRate();
        getOrderReturnInfoData("230202P16635554");
        var cnlProdData = [];
        $("#returnRequestCancelBtn").click(function () {
          var inputNumberchk = /^[0-9]+$/;
          if (!inputNumberchk.test($("#returnAccountNumber").val()) && ($("#returnAccountNumber").val().length > 0)) {
            layerAlert("계좌번호는 숫자만 입력가능합니다.");
            $("#returnAccountNumber").val($("#returnAccountNumber").val().replace(/[^0-9]/gi, ""));
            return false;
          }
          var accountParams = "";
          var returnRequestAction = function () {
            $("#returnRequestCancelBtn").unbind("click");
            $("#returnRequestCancelBtn").click(function () {
              layerAlert("취소 신청이 진행중입니다.");
            });
            showLoadingLpIdx(2000);
            var params = $("#returnDataForm").serialize() + '&' + accountParams;
            setEcommerceData();
            $.ajax({
              type: "get",
              url: "/ko/mypage/order/cancelrequestsave",
              data: params,
              dataType: "json",
              error: function (request, status, error) {
                alert(error);
                //console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
              },
              success: function (result) {
                if (result.result == true) {
                  var lc = new layerAlert("주문이 취소되었습니다. 상세한 취소/환불내역은 목록에서 상세보기를 통해 확인해주세요.");
                  lc.confirmAction = function () {
                    if (resultDeliverykind == "AT_HOME") {
                      if (athomeAdvancePaymentYn == true) {
                        location.href = "/ko/mypage/order/myorders";
                      } else {
                        location.href = "/ko/mypage/order/myordersAthome";
                      }
                    } else {
                      location.href = "/ko/mypage/order/myorders";
                    }
                  };
                } else {
                  var errMsg = result.errMsg;
                  if ("RollbackHistory" == errMsg) {
                    layerAlert("해당 건은 취소 할 수 없습니다.<br/> 고객센터(1800-5700)로 문의주세요.");
                  } else if ("orderToDeliveryJob" == errMsg) {
                    layerAlert("배송준비중 상태에서는 주문의 취소/변경이나 주소의 변경이 불가능 합니다.");
                  } else {
                    layerAlert(errMsg);
                  }
                }
              }
            }).always(function () {
              hideLoadingLp();
            });
          };
          var $orderList = $(".cancelQuantity");
          var returnSomething = false;
          $.each($orderList, function () {
            if ($(this).val() != 0) {
              returnSomething = true;
            }
          });
          if ($("#amountChecked").val() != "Y" || returnSomething == false) {
            layerAlert("취소할 상품과 수량을 확인하세요.");
            return false;
          }
          if ($("#refundAccountArea:visible").length > 0) {
            if ($.trim($("#returnAccountBank").val()) == "" || $.trim($("#returnAccountNumber").val()) == "") {
              layerAlert("환불계좌정보를 확인 후 다시 입력해주세요.");
              return false;
            }
            accountParams = $("#refundAccountArea:visible #refundAccountForm").serialize();
          }
          if ($("#returnFreeGift").val() == "") {
            var lc = new layerConfirm("주문취소 하시겠습니까?"
              , "확인"
              , "취소");
            lc.confirmAction = function () {
              returnRequestAction();
              $("#returnRequestCancelBtn").unbind('click');
            };
          }
        });
        $("#returnAccountNumber").on("keyup", function (event) {
          var inputNumberchk = /^[0-9]+$/;
          if (!inputNumberchk.test($("#returnAccountNumber").val()) && ($("#returnAccountNumber").val().length > 0)) {
            layerAlert("계좌번호는 숫자만 입력가능합니다.");
            $("#returnAccountNumber").val($("#returnAccountNumber").val().replace(/[^0-9]/gi, ""));
          }
        });
      });
    </script><!-- layerpop_wrap | 주문취소_전체 s -->
    <div class="layerpop_wrap layerpop_wrap_full lp_order_cancel_all_wrap">
      <input type="hidden" id="payOfficeName" name="payOfficeName" value="국민카드">
      <input type="hidden" id="amountChecked" value="Y">
      <input type="hidden" id="returnFreeGift" value="">
      <form id="returnDataForm">
        <input type="hidden" id="orderPk" name="orderPk" value="9144068145197">
        <input type="hidden" name="SY2C9ABGQ92W_BK_FR" value="1"><input type="hidden" name="cancel" value="Y">
      </form>
      <!-- layerpop_top s -->
      <div class="lyrpp_top">
        <a href="/myPage/orderList" class="lyrpp_close lyrpp_close_stl1 btn_lyrpp_close"><span>닫기<!-- 닫기 --></span></a>
        <h2>주문취소<!-- 주문취소 --></h2>
      </div>
      <!-- layerpop_top e -->
      <!-- layerpop_middle s -->

      <div class="lyrpp_mid lyrpp_mid_full" th:each="list:${removeList}">
        <form role="form" th:action="@{/order/cancel/(oid=${list.oid})}" method="post" class="removeBtn">
          <!-- 주문번호 s -->
          <div class="order_view_msg_wrap gray_box">
            <p class="ovm_num">
              주문번호 : <b id="orderNumber" th:text="${list.oid}"></b>
            </p>
            <p class="ovm_date">(주문일시 : <span id="orderDate"
                th:text="${#dates.format(list.odate, 'yyyy-MM-dd HH:mm')}"></span>)</p>
          </div>
          <!-- 주문번호 e -->
          <!-- df_box : 주문상품 s -->
          <div class="df_box mp_order_list_box">
            <ul class="mpord_goods_ul goods_list_wrap" id="orderEntries" th:each="itemList:${list.itemList}">
              <li>
                <div class="mpord_goods_item gl_item">
                  <div class="gl_tit"> <img th:src="${itemList.productDetail.pcimg1}" class="gl_thumbimg"> </div>
                  <ul class="gl_con">
                    <li class="gl_con_brand">[[${itemList.productDetail.bname}]]</li>
                    <li class="gl_con_name">[[${itemList.productDetail.pname}]]</li>
                    <li class="gl_con_option"> [[${#strings.toUpperCase(itemList.productDetail.pccolorcode)}]] /
                      [[${itemList.productDetail.psize}]] / [[${itemList.oicount}]]개 </li>
                    <li class="gl_con_price"
                      th:text="${#numbers.formatInteger(itemList.oitotalprice, 0, 'COMMA')} + ' 원'"></li> <input
                      type="hidden" value="1" class="cancelQuantity" baseprice="122500" productcode="SY2C9ABGQ92W_BK_FR"
                      readonly="">
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- df_box : 주문상품 e -->
          <!-- df_box : 주문상세_환불예상내역 s -->
          <script>
            /* tooltip script (20210222) */
            $(document).on('click', '.tooltip-line .icon_help', function (e) {
              e.preventDefault();
              if ($(this).parent('.order-tooltip-wrap').next('.tooltip_cont').hasClass('on')) {
                $(this).parent('.order-tooltip-wrap').next('.tooltip_cont').removeClass('on');
              } else {
                $('.tooltip-line .btn_tooltip').removeClass('on');
                $(this).parent('.order-tooltip-wrap').next('.tooltip_cont').addClass('on');
              }
              return false;
            });
            $(document).on('click', '.tooltip-line .tooltip_cont .close', function () {
              $(this).parent('.tooltip_cont').removeClass('on');
              return false;
            });
          </script>
          <script>

          </script>
          <div class="df_box df_box_slide df_box_slide_v2 refund_info_wrap atHomeDisabled">
            <h3 class="df_box_tit">환불 예상내역</h3>
            <div class="payment_total_info df_box_slide_v2_anchor">
              <span id="oname">카카오페이</span>&nbsp;<span class="pay_total_price" id="refundRealPayPriceInfo"
                th:text="${#numbers.formatInteger(list.oafterprice, 0, 'COMMA')} + ' 원'"></span>
            </div>
            <input type="hidden" name="refundRealPayPrice2" id="refundRealPayPrice2" value="110250">
            <div class="df_box_slide_con" style="display: none;">
              <ul class="total_price_detail mp_summary_detail">
                <li class="sub">
                  <div class="ttpd_tit">환불 금액 판매가</div>
                  <div class="ttpd_con"><span id="refundTotalPrice"
                      th:text="${#numbers.formatInteger(list.obeforeprice, 0, 'COMMA')} + ' 원'"></span></div>
                </li>
                <li class="sub tooltip-line">
                  <div class="ttpd_tit">
                    <span class="order-tooltip-wrap">
                      쿠폰 할인 금액 차감
                      <a href="#none" class="icon_help"></a>
                    </span>
                    <div class="tooltip_cont">
                      <p class="txt">
                        쿠폰 적용된 상품의 취소/반품 시,<br>상품 가격에 따라 쿠폰 할인된 금액을<br>차감 후 환불됩니다.
                      </p>
                      <a href="#none" class="close">닫기</a>
                    </div>
                  </div>
                  <div class="ttpd_con"><span id="nowCouponDiscountPrice"
                      th:text="'- ' + ${#numbers.formatInteger(list.ousedmileage, 0, 'COMMA')} + ' 원'"></span></div>
                </li>
                <li class="strong">
                  <div class="ttpd_tit">환불 예상 금액<!-- 주 결제수단 환불 --></div>
                  <div class="ttpd_con"><span id="refundRealPayPrice"
                      th:text="${#numbers.formatInteger(list.oafterprice, 0, 'COMMA')} + ' 원'"></span></div>
                </li>
              </ul>
              <div class="gray_box">
                <h5>환급된 쿠폰<!-- 복원된 쿠폰 --> :
                  <span id="returnCoupon">[10%] FRIEND 등급 축하 바우처 VP2-302-FP1-0A0-376JUK8</span>
                </h5>
                <p id="couponRelease">쿠폰 내용 및 유효기간은 ‘마이페이지&gt;쿠폰’ 메뉴에서 확인하실 수 있습니다.</p>
              </div>
            </div>
          </div><!-- df_box : 주문상세_환불예상내역 e -->
          <!-- df_box : 주문상세_환불계좌정보 s => 무통장입금 결제시 나오게 하면 됩니다 민수 car~-->
          <div class="df_box mp_refund_account_info_wrap" id="refundAccountArea" style="display:none;">
            <form id="refundAccountForm">
              <!-- 2020.01.28 hmk 직접 입력 가능하도록 요청 (정원주 주임) <input type="hidden"  name="returnAccountName" id="returnAccountName" >  -->
              <h3 class="df_box_tit">환불계좌정보</h3>
              <ul class="refund_account_box mb5">
                <li class="rfac_bank">
                  <select name="returnAccountBank" id="returnAccountBank" class="sodsb" data-custom-class="sodsH40">
                    <option value="">선택</option>
                    <option value="209">동양증권</option>
                    <option value="230">미래에셋증권</option>
                    <option value="240">삼성증권</option>
                    <option value="243">한국투자증권</option>
                    <option value="269">한화증권</option>
                    <option value="278">신한금융투자증권</option>
                    <option value="301">유진투자증권</option>
                    <option value="302">하나금융투자</option>
                    <option value="303">미래에셋대우증권</option>
                    <option value="304">SK증권</option>
                    <option value="305">하이투자증권</option>
                    <option value="306">HMC투자증권</option>
                    <option value="307">우리투자증권</option>
                    <option value="308">대신증권</option>
                    <option value="309">메리츠증권</option>
                    <option value="310">신영증권</option>
                    <option value="311">동부증권</option>
                    <option value="312">KB증권(현대)</option>
                    <option value="090">카카오뱅크</option>
                    <option value="071">우체국</option>
                    <option value="031">대구은행</option>
                    <option value="032">부산은행</option>
                    <option value="011">농협은행</option>
                    <option value="034">광주은행</option>
                    <option value="035">제주은행</option>
                    <option value="037">전북은행</option>
                    <option value="039">경남은행</option>
                    <option value="081">하나은행</option>
                    <option value="020">우리은행</option>
                    <option value="064">산림조합</option>
                    <option value="088">신한은행</option>
                    <option value="023">제일은행</option>
                    <option value="045">새마을금고</option>
                    <option value="089">케이뱅크</option>
                    <option value="002">산업은행</option>
                    <option value="003">기업은행</option>
                    <option value="004">국민은행</option>
                    <option value="048">신협</option>
                    <option value="005">외환은행</option>
                    <option value="027">씨티은행</option>
                    <option value="007">수협</option>
                  </select>
                </li>
                <li class="rfac_account"><input type="tel" id="returnAccountNumber" name="returnAccountNumber"
                    class="rfac_account_input"></li>
              </ul>
              <ul class="refund_account_box">
                <li class="rfac_bank">
                  <input type="text" value="예금주" readonly="readonly" style="text-align: center;">
                </li>
                <li class="rfac_account"><input type="text" id="returnAccountName" name="returnAccountName"
                    class="rfac_account_input"></li>
              </ul>
              <ul class="ul_dot">
                <li>환불계좌번호는 ‘-’를 빼고 숫자만 입력해 주세요.</li>
                <li>은행 계좌번호 및 예금주 재확인 부탁드립니다.</li>
              </ul>
            </form>
          </div><!-- df_box : 주문상세_환불계좌정보 e -->
          <!-- df_box : 주문상세_주문취소안내 s -->
          <div class="df_box order_cancel_guide_wrap">
            <div class="slide_border_box">
              <div class="sbb_tit">주문취소안내
                <div class="slide_border_box_icon">
                  <div class="bar bar_vertical"></div>
                  <div class="bar bar_horizontal plus"></div>
                </div>
              </div>
              <div class="sbb_slide_con" style="display: none;">
                <h5>증빙서류안내</h5>
                <ul class="ul_dot">
                  <li>상품취소는 상품이 상품 발송 이전까지 가능합니다.</li>
                  <li>주문 취소 내역은 마이페이지&gt;주문/배송 조회&gt;상세보기에서 확인 하실 수 있습니다.</li>
                </ul>
                <h5>주문 취소의 처리</h5>
                <ul class="ul_dot">
                  <li>카드결제 취소: 카드 결제는 카드사로 즉시 취소 요청을 합니다. <br>단 카드사에서 승인 취소 처리를 하는데 2-3일이 소요 될 수 있습니다.</li>
                  <li>실시간 계좌 이체: 결제를 진행하신 계좌로 환불 처리 됩니다.</li>
                  <li>가상계좌: 등록하신 환불계좌로 2-3일내 입금처리 됩니다.</li>
                  <li>포인트: 주문 취소 후 즉시 복원 됩니다.</li>
                  <li>기프트 카드: 주문 취소 후 포인트로 복원 되며, 복원 비율은 1:1 입니다.</li>
                  <li>쿠폰/프로모션 코드: 주문 취소 후 즉시 복원 됩니다. (단 부분 주문 취소 시에는 복원 되지 않습니다)</li>
                </ul>
              </div>
            </div>
            <div class="slide_border_box">
              <div class="sbb_tit">환불안내
                <div class="slide_border_box_icon">
                  <div class="bar bar_vertical"></div>
                  <div class="bar bar_horizontal plus"></div>
                </div>
              </div>
              <div class="sbb_slide_con" style="display: none;">
                <ul class="ul_dot">
                  <li>쿠폰 적용된 상품의 취소/반품 시, 상품 가격에 따라 쿠폰 할인된 금액을 차감 후 환불됩니다.</li>
                  <li>쿠폰 기간 만료 시 환급되어도 사용 불가하며, 자세한 사항은 ‘마이페이지&gt;쿠폰’ 메뉴에서 확인하실 수 있습니다.</li>
                  <li>쿠폰 적용 여부에 따라서 취소/반품 신청하신 상품의 판매가 보다 환불금액이 작을 수 있습니다.</li>
                  <li>특정 구매금액 이상일 때 적용되는 쿠폰의 경우 환불로 인해 구매금액이 감소할 때 쿠폰 적용이 취소될 수 있습니다.</li>
                  <li>반품 시 환불예상금액에서 반품배송비가 차감될 수 있습니다.</li>
                  <li>반품배송비는 한섬마일리지 &gt; e-money &gt; 주결제수단(신용카드 등) 순으로 차감됩니다.</li>
                  <li>반품배송비 결제를 [차감 후 환불]로 선택하신 경우는 환불 예상금액에서 반품배송비가 차감됩니다.</li>
                  <li>환불 시 결제수단별 환불 순서는 다음과 같습니다.
                    <ul>
                      <li>1. 주결제 수단 환불</li>
                      <li>2. 한섬마일리지 환급</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- df_box : 주문상세_주문취소안내 e -->
          <!-- layerpop_btns s -->
          <div class="df_box mp_apply_btn_wrap">
            <ul class="btn_wrap btn_wrap_div1">
              <li>
                <button type="submit" data-oper="remove" style="width: 100%;" class="orderCancelBtn">
                  <a href="#" id="returnRequestCancelBtn" class="btnstl6 solid_btn_point btn_save">
                    <span>카카오페이
                      <b th:text="${#numbers.formatInteger(list.oafterprice, 0, 'COMMA')} + '원'"></b>
                      주문 취소
                    </span>
                  </a>
                </button>
              </li>
            </ul>
          </div>
          <!-- layerpop_btns e -->
        </form>
      </div>

      <!-- layerpop_middle e -->
    </div>
    <!-- layerpop_wrap | 주문취소_전체 e -->
  </div>
  <!-- hsome_layer_menu_contents | 레이어팝업메뉴 컨텐츠 영역 e -->
  <!-- layerpopupContent e -->
  <!-- 버츄 사이즈 공통스크립트 -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      let formObj = $(".removeBtn");

      $(".orderCancelBtn").on("click", function (e) {
        e.preventDefault();
        let operation = $(this).data("oper");
        console.log(operation);
        if (operation === 'remove') {
          formObj.attr("th:action", "@{/order/cancel/(oid=${list.oid})}");
        }
        formObj.submit();
      });
    });
  </script>
  <script type="text/javascript">
    var virtusizeViewYn = false;
    virtusizeViewYn = true;
    if (virtusizeViewYn) {
    }
  </script>
  <!-- 버츄 사이즈 공통스크립트 -->
  <!-- GTM 추적코드 추가 -->
  <!-- Enliple Tracker Start -->
  <script type="text/javascript">
    try {
      (function (a, g, e, n, t) { a.enp = a.enp || function () { (a.enp.q = a.enp.q || []).push(arguments) }; n = g.createElement(e); n.async = !0; n.defer = !0; n.src = "https://cdn.megadata.co.kr/dist/prod/enp_tracker_self_hosted.min.js"; t = g.getElementsByTagName(e)[0]; t.parentNode.insertBefore(n, t) })(window, document, "script");
      enp('create', 'common', 'thehandsome', { device: 'M' });  // W:웹, M: 모바일, B: 반응형
      enp('send', 'common', 'thehandsome');
    } catch (e) {
      console.log(e);
    }
  </script>
  <!-- Enliple Tracker End -->
  <!-- AceCounter END -->
  <!-- AceCounter Log Gathering Script V.7.5.2013010701 -->
  <script language="javascript">
    var _AceGID = (function () { var Inf = ['dgc17.acecounter.com', '8080', 'AP6F40149814536', 'CW', '0', 'NaPm,Ncisy', 'ALL', '0']; var _CI = (!_AceGID) ? [] : _AceGID.val; var _N = 0; var _T = new Image(0, 0); if (_CI.join('.').indexOf(Inf[3]) < 0) { _T.src = (location.protocol == "https:" ? "https://" + Inf[0] : "http://" + Inf[0] + ":" + Inf[1]) + '/?cookie'; _CI.push(Inf); _N = _CI.length; } return { o: _N, val: _CI }; })();
    var _AceCounter = (function () { var G = _AceGID; if (G.o != 0) { var _A = G.val[G.o - 1]; var _G = (_A[0]).substr(0, _A[0].indexOf('.')); var _C = (_A[7] != '0') ? (_A[2]) : _A[3]; var _U = (_A[5]).replace(/\,/g, '_'); var _S = ((['<scr', 'ipt', 'type="text/javascr', 'ipt"></scr', 'ipt>']).join('')).replace('tt', 't src="' + location.protocol + '//cr.acecounter.com/Web/AceCounter_' + _C + '.js?gc=' + _A[2] + '&py=' + _A[4] + '&gd=' + _G + '&gp=' + _A[1] + '&up=' + _U + '&rd=' + (new Date().getTime()) + '" t'); document.writeln(_S); return _S; } })();
  </script>
  <script
    src="https://cr.acecounter.com/Web/AceCounter_CW.js?gc=AP6F40149814536&amp;py=0&amp;gd=dgc17&amp;gp=8080&amp;up=NaPm_Ncisy&amp;rd=1675337460883"
    type="text/javascript"></script>
  <noscript><img src='http://dgc17.acecounter.com:8080/?uid=AP6F40149814536&je=n&' border='0' width='0' height='0'
      alt=''></noscript>
  <!-- AceCounter Log Gathering Script End -->
  function mobileWebView() {
  $('.b-modal.__b-popup1__').hide();
  if($(".hsome_quickMenu").length == 0){
  if(appDownPopContentHtml != ""){
  holdBodyHide();
  }
  }
  setMobileWebViewCookie("mobileWebView", "Y", 1);
  }
  </script>
  <!-- adinsight 공통스크립트 start -->
  <script type="text/javascript">
    var TRS_AIDX = 11865;
    var TRS_PROTOCOL = document.location.protocol;
    document.writeln();
    var TRS_URL = TRS_PROTOCOL + '//' + ((TRS_PROTOCOL == 'https:') ? 'analysis.adinsight.co.kr' : 'adlog.adinsight.co.kr') + '/emnet/trs_esc.js';
    document.writeln("<scr" + "ipt language='javascript' src='" + TRS_URL + "'></scr" + "ipt>");
  </script>
  <script language="javascript" src="https://analysis.adinsight.co.kr/emnet/trs_esc.js"></script>
  <!-- adinsight 공통스크립트 end -->
  <!-- //Mobile Smart Banner for Anroid Device -->
  </div><iframe id="groobeeBox" name="groobeeBox" style="display: none;"></iframe>
</body><!-- This script is for AceCounter START -->

</html>