<head>
<title>
쇼핑백 | 더한섬닷컴</title>
<link rel="shortcut icon" href="https://www.thehandsome.com/_ui/mobile/common/images/common/thehandsome_ic_16x16.ico">
<link rel="apple-touch-icon" href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-precomposed" href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-120x120" href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-120x120-precomposed" href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="shortcut icon" type="image/x-icon" media="all" href="//">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/font_80.css?20221121" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/selectordie.css" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/default.css?202200826" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/display.css?20221107" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/assist.css?20220929" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/devAssist.css" rel="stylesheet" type="text/css">
<link href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/popup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"><link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/grb-recommend-list_v2.css"><link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/custom-swiper.css"></head>
<body>
<div class="hsome_allContents_wrapper">
  <div class="hsome_allContents">


<header class="hsome_header header_renew2206">
            <h1 class="h_ttl ellipsis" id="headerTitle">
                  주문완료</h1>
            <a href="/ko/main" class="h_top_home"><span>홈</span></a>
               
               <ul class="h_gnbMenu">
                  <li class="search"><a href="/ko/mobilecommon/search" onclick="GA_Event('공통', '헤더', '검색');"><span>search</span></a></li>
                  <li class="cart"><a href="/ko/shoppingbag" onclick="GA_Event('공통', '헤더', '쇼핑백');"><span>cart</span><i>2</i></a></li>
               </ul></header>
<div id="contents" class="hsome_contents order_complete_wrap">
  <div class="order_complete_img_box">
    <img src="https://www.thehandsome.com/_ui/handsomemobile/images/order/order_complete_img.gif" class="order_complete_img" alt="주문완료축하이미지">
  </div>
  <div class="order_complete_msg_wrap">
            
    <h3 class="ocm_tit">주문이 완료되었습니다.</h3>   <!-- 주문이 완료 되었습니다. -->
              <p class="ocm_num">주문번호 : <b>230201P16622126</b></p>
    <p class="ocm_date">(주문일시 : 2023.02.01 16:32)</p>

            </div>
            <div class="df_box order_complete_delivery_info_wrap">
              <h3 class="df_box_tit">배송지 정보</h3>
              <div class="dlvr_adrs">
                <span class="dlvr_adrs_name">ㄱㅈㅎ</span> 
                / <span class="dlvr_adrs_phone">010-2963-2568</span><br>
                (<span class="dlvr_adrs_zipcode">12345</span>) 
                <span class="dlvr_adrs_adrs">인천광역시
                  &nbsp;우리집</span>
              </div>
              </div>
              <div class="df_box">
                <h3 class="df_box_tit">배송 요청사항</h3>
                <div class="dlvr_adrs">
                  자유 출입 가능<br>
                  배송 전 연락 바랍니다</div>
              </div>
              <div class="df_box df_box_slide_on order_complete_goods_list_wrap">
                <ul class="order_gl_item goods_list_wrap">
        <li>
                    <!-- goods_list_item s -->
                    <div class="ogl_item gl_item">
                      <div class="gl_tit">
                                    <a href="/ko/p/CS2D1ABG014WMG_BK_FR">
                                           <img src="http://newmedia.thehandsome.com/CS/2D/SS/CS2D1ABG014WMG_BK_S01.jpg" alt="gl_thumbimg" class="gl_thumbimg">
                                          </a>
                                        </div>
                      <ul class="gl_con">
                          <li class="gl_con_brand">FOURM STUDIO</li>
                            <li class="gl_con_name">[MARGESHERWOOD] 지퍼 스몰백</li>                                                            
                          <li class="gl_con_option">
                          BLACK
                                                        /
                                                    FR 
                              / 
                              1개</li>
                        <li class="gl_con_price">
                          <span>
                                                     ₩178,200<strike>₩198,000</strike>
                                                   </span>
                                                   </li>
                            </ul>
                    </div>
                    <!-- goods_list_item e -->
                  </li>
        
                            <!-- AceCounter eCommerce (Cart_InOut) v7.5 Start -->
                            <!-- Data Allocation (Cart_InOut) -->
                            <script language="javascript" type="text/javascript">
                                _A_amt[_ace_countvar]='198000'; 
                                _A_nl[_ace_countvar]='1';   
                                _A_pl[_ace_countvar]='CS2D1ABG014WMG_BK_FR';       
                                _A_pn[_ace_countvar]='[MARGESHERWOOD] 지퍼 스몰백';    
                                _A_ct[_ace_countvar]='FOURM STUDIO';  
                                _ace_countvar++;
                            </script>
                            <!-- AceCounter eCommerce (Cart_InOut) v7.5 End -->
                            <!-- Beshow Loop Start-->
                            <script type="text/javascript"> 
                                // 더한섬 추가 부분
                                var beshow_orderItemNumber_str = 'CS2D1ABG014WMG_BK_FR'; // 상품코드 입력 (관리자에서 테깅시에 상품코드 SJ1I1WPC662W 부문만 입력 해야 함)
                                var beshow_orderItemNumber_arr = beshow_orderItemNumber_str.split('_');
                                var beshow_orderItemNumber = '';
                                if(beshow_orderItemNumber_arr.length > 0) { beshow_orderItemNumber = beshow_orderItemNumber_arr[0]; }
                                // 더한섬 추가 부분
                                strack.execute('setOrderItemNumber', beshow_orderItemNumber); 
                                strack.execute('setOrderItemLink', '/ko/p/CS2D1ABG014WMG_BK_FR'); 
                                strack.execute('setOrderItemImage', 'http://newmedia.thehandsome.com/CS/2D/SS/CS2D1ABG014WMG_BK_S01.jpg'); 
                                strack.execute('setOrderItemName', '[MARGESHERWOOD] 지퍼 스몰백'); 
                                strack.execute('setOrderItemPrice', '198000'); 
                                strack.execute('setOrderItemQuantity', '1');   </script>
                            <!-- Beshow Loop End -->
                            <!-- adinsight 주문 상품별 아이디 받아옴. start-->
                  <script type="text/javascript"> 
                  if(typeof TRS_PRODUCT == 'undefined') {
                      TRS_PRODUCT = '' + 'CS2D1ABG014WMG_BK_FR';   // 상품아이디 변수(상품코드)
                      TRS_ORDER_PRODUCT = '' + 'CS2D1ABG014WMG_BK_FR' + '@' + '[MARGESHERWOOD] 지퍼 스몰백' + '@' + '198000' + '@' + '1';
                   }else {
                    TRS_PRODUCT = TRS_PRODUCT + ' $ '+ 'CS2D1ABG014WMG_BK_FR'; // 상품아이디 변수(상품코드)
                    TRS_ORDER_PRODUCT += ' $ ' + 'CS2D1ABG014WMG_BK_FR' + '@' + '[MARGESHERWOOD] 지퍼 스몰백' + '@' + '198000' + '@' + '1';
                   }
                  </script>
                  <!-- adinsight 주문 상품별 아이디 받아옴. end-->
        </ul>
              </div>
              <div class="df_box total_price_wrap">
                <h3 class="df_box_tit">최종 결제금액<div class="pay_price">₩178,200</div>
                </h3>
                <ul class="total_price_detail">
                  <li>
                    <div class="ttpd_tit">상품 합계</div>
                    <div class="ttpd_con">₩198,000</div>
                  </li>
                  
                  <li>
                    <div class="ttpd_tit">프로모션/쿠폰</div>
                    <div class="ttpd_con">- ₩19,800</div>
                  </li>
                  <li>
                        <div class="ttpd_tit">배송비</div>
                        <div class="ttpd_con">₩0</div>
                      </li>
                  </ul>
              </div>
              <div class="df_box order_complete_payment_wrap">
                <h3 class="df_box_tit">결제수단</h3>
                <ul class="complete_payment_wrap">
                  <li class="cp_card_company">
                      <div class="cp_tit">카드사</div>
                      <div class="cp_con">국민카드 (12344567)</div>
                    </li>
                    <li class="cp_total_price">
                      <div class="cp_tit">결제금액</div>
                      <div class="cp_con"><b>₩178,200</b>
                        </div>
                    </li>
                  </ul>
              </div>
              <div class="df_box">
                <h3 class="df_box_tit">
                  적립 예정 포인트 <span class="df_box_tit_sub">(수령 완료 후 10일 후 적립) </span>
                  <!-- tootip s -->
                  <span class="dpIB"><div class="icon_help btn_tooltip" data-tooltip-target="tooltip_buy_point_guide"></div></span>
                  <!-- tootip : contents_area s -->
                  <div class="tooltip_contens"></div>
                  <!-- tootip : contents_area e -->
                  <!-- tootip e -->
                </h3>
                <ul class="ul_dot point_back_wrap ">
                  <li><div class="udot_tit">한섬마일리지</div><div class="udot_con">8,910M</div></li>
                  <li><div class="udot_tit">H.Point</div><div class="udot_con">178P</div></li>
                  </ul>
              </div>
              <div class="df_box order_complete_btn_wrap" id="checkoutConfirmationButtonArea">
                <div class="btn_wrap btn_wrap_div2">
                  <a href="#;" class="btnstl6 solid_btn_gray" id="btnBasketContinue"><span>쇼핑계속하기</span></a>
                  <a href="#;" class="btnstl6 solid_btn_blk" id="btnMyorder"><span>주문내역조회</span></a>
                      </div>
              </div>
</div>
<footer id="footer" class="hsome_footer new181127 footer_kr">
  <div class="main-notice">
      <div class="tit-notice">공지</div>
      <div class="list-notice">
        <ul class="notice-wrap"><li><a href="/ko/svcenter/mobilenotice?noticeCode=8804711059376">더한섬닷컴 편집/해외 브랜드 종료(예정) 안내(~2/22)</a></li><li><a href="/ko/svcenter/mobilenotice?noticeCode=8804711059376">더한섬닷컴 편집/해외 브랜드 종료(예정) 안내(~2/22)</a></li></ul>
      </div>
      <div class="btn-more"><a href="/ko/svcenter/mobilenotice"><img src="http://cdn.thehandsome.com/_ui/handsomemobile/images/main/btn_arr_notice.png" alt=""></a></div>
    </div>
  <div class="f_wrap">
  <div class="f_menu re1911"><!-- 수정 190207 -->
    <ul class="top_line">

      <li><a href="#"></a></li>
    <li><a href="javascript:ftLogout();" class="login" style="float:left;" onclick="GA_Event('공통', '푸터_메뉴', '로그아웃');">로그아웃<!-- 로그아웃 --></a></li>
    <li><a href="/ko/svcenter/mobilemain?uiel=Mobile" class="customer" style="float:left;width:32%;" onclick="GA_Event('공통', '푸터_메뉴', '고객센터');">고객센터<!--고객센터--></a></li>
    <li><a href="/ko/store-finder/storeInformation?uiel=Mobile" class="storeinfo" style="float:left;" onclick="GA_Event('공통', '푸터_메뉴', '매장안내');">매장안내</a></li>
</ul>
    <ul class="btm_line1911">
<li><a href="/ko/svcenter/theClubInfo?uiel=Mobile" class="memberBenefit" style="float:left;letter-spacing:-1px;" onclick="GA_Event('공통', '푸터_메뉴', '한섬 회원 혜택');">한섬 회원 혜택<!-- 한섬 회원 혜택 --></a></li>
    <li><a href="http://www.handsome.co.kr/ko/company/aboutHandsome.do?leng=ko" target="_blank" style="float:left;letter-spacing:-1px;" onclick="GA_Event('공통', '푸터_메뉴', '회사소개');">회사소개</a></li>
            <li id="family_site">
               <span class="language family_site1911 for_iph_css1911" onclick="familySiteSelect();GA_Event('공통', '푸터_CNT', 'FAMILYSITE');">FAMILY SITE&nbsp;</span>
            </li>
            </ul>
    <!-- 챗봇 테스트 -->
    </div>

  <div class="f_sns">
    <a href="javascript:noLink();" onclick="GA_Event('공통', '푸터_SNS', 'INSTAGRAM');window.open('https://instagram.com/thehandsome_official/','instagram');return false" class="ist">인스타그램</a>
    <a href="javascript:noLink();" onclick="GA_Event('공통', '푸터_SNS', 'YOUTUBE');window.open('https://www.youtube.com/channel/UC0fmjgbVA8iZrPbIR3dppUQ','youtube');return false" class="ytb">유튜브</a>
  </div>
  <div class="f_policy">
    <a href="/ko/footer/footerTermBusiness?uiel=Mobile">서비스이용약관</a>
    <a href="/ko/footer/footerPrivacy?uiel=Mobile" style="font-weight:bold;">개인정보처리방침</a>
     
    <!-- web -->
                    <!-- 180706 추가// -->
                <span class="language">
                    <select id="footerSelectLang" onchange="if(this.value) language(this.value);" onclick="GA_Event('공통', '푸터_CNT', 'LANGUAGE');">
                        <option value="" selected="selected" disabled="" hidden="">LANGUAGE</option>
                        <option value="ko">한국어</option>
                        <option value="en">ENGLISH</option>
                        <option value="zh">中文</option>
                    </select>
                </span>
                <!-- //180706 추가 -->
                </div>

  <div class="f_copyright">
    COPYRIGHT © 2018 HANDSOME. ALL RIGHT RESERVED</div>

  <a href="javascript:noLink();" class="f_info_viewer" onclick="GA_Event('공통', '푸터_CNT', 'INFO');">
    <span class="f-txt">(주) 한섬 </span>
    <span class="f-logo"><img src="http://cdn.thehandsome.com/_ui/handsomemobile/images/common/mob-footer-handsome-logo.png" alt=""></span>    
  </a>
  
  <div class="f_info">
    <div class="corp">
    대표이사 : 김민덕  |  서울시 강남구 도산대로 523 한섬빌딩<br>TEL : 1800-5700 (유료)  |  FAX : 02-6078-2856 <br>개인정보보호책임자 : 윤인수 | 호스팅서비스 : (주) 한섬<br>사업자등록번호 : 120-81-26337<br>통신판매업신고번호 : 제 2009-서울강남-00826호</div>
    <div class="link">
<a href="https://recruit.ehyundai.com/recruit-info/announcement/list.nhd?pageNo=1&amp;hireGb=01&amp;coCd=HDHAN" target="_blank" onclick="GA_Event('공통', '푸터_CNT', 'INFO_채용정보');">채용정보</a>
       <a href="http://www.handsome.co.kr/ko/sustainability/sharedGrowth01.do" target="_blank" onclick="GA_Event('공통', '푸터_CNT', 'INFO_동반성장');">동반성장</a> 
         <a href="http://www.handsome.co.kr/ko/sustainability/ecoFriendly01.do" target="_blank" onclick="GA_Event('공통', '푸터_CNT', 'INFO_환경경영');">환경경영</a>
       </div>
  </div>
  
  </div>
  </footer>
  </div>
</div>
</body>