<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.goonagoobob.mapper.product.productMapper" >	

	<resultMap type="org.goonagoobob.domain.product.productCommonVO" id="pc1Map">
		<result property="pid" column="pid"></result>
		<result property="pname" column="pname"></result>
		<result property="pnote" column="pnote"></result>
		<result property="bname" column="bname"></result>
		<collection property="pcVO" resultMap="pc2Map"></collection>
	</resultMap>
	
	<resultMap type="org.goonagoobob.domain.product.productColorVO" id="pc2Map">
		<result property="pcid" column="pcid"/>
		<result property="pcimg1" column="pcimg1"></result>
		<result property="pcimg2" column="pcimg2"></result>
		<result property="pcimg3" column="pcimg3"></result>
		<result property="pcchipimg" column="pcchipimg"></result>
		<result property="pccolorcode" column="pccolorcode"></result>
		<result property="pcprice" column="pcprice"></result>
		<result property="preleasedate" column="preleasedate"></result>
		<collection property="psVO" resultMap="psMap"></collection>
	</resultMap>
	
		<resultMap type="org.goonagoobob.domain.product.productStockVO" id="psMap">
		<result property="psid" column="psid"></result>
		<result property="psstock" column="psstock"></result>
		<result property="psize" column="psize"></result>
	</resultMap>
	
	<resultMap type="org.goonagoobob.domain.product.brandVO" id="brandMap">
		<result property="brand" column="bname"></result>
		<collection property="depth1VO" resultMap="depth1Map"></collection>
	</resultMap>
	<resultMap type="org.goonagoobob.domain.product.depth1VO" id="depth1Map">
		<result property="depth1" column="depth1name"></result>
		<collection property="depth2VO" resultMap="depth2Map"></collection>
	</resultMap>
	<resultMap type="org.goonagoobob.domain.product.depth2VO" id="depth2Map">
		<result property="depth2" column="depth2name"></result>
		<collection property="depth3VO" resultMap="depth3Map"></collection>
	</resultMap>
	<resultMap type="org.goonagoobob.domain.product.depth3VO" id="depth3Map">
		<result property="depth3" column="depth3name"></result>
	</resultMap>
	
	<select id="getPDetail" resultMap="pc1Map">
		select * from allproduct where #{pid} = pid
	</select>
	
	<select id="getBrd" resultMap="brandMap">
		select * from allcategory
	</select>
	
	<select id="getCtgr" resultMap="depth1Map">
		select depth1name, depth2name, depth3name from allcategory
	</select>
	
	<select id="getPColor" resultMap="pc2Map">
		select pcid, pcimg1, pcimg2, pcimg3, pcchipimg, pccolorcode, pcprice, preleasedate, 
psid, psstock, psize from allproduct where #{pcid} = pcid
	</select>
</mapper>

<!-- /*********************************
 * @function : 상품 관련 Mapper
 * @author : 조일우
 * @Date : Feb 6. 2023.
 * 상품 상세 정보 Mapper Feb 6. 2022
 * 상품 컬러 변경 Mapper Feb 7. 2022
 * 상품 카테고리 리스트 Mapper Feb 8. 2022
 *********************************/ -->