<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>한섬로그인 | 더한섬닷컴</title>

<script>
	function goMemberRegistration(){
		window.location.replace("http://localhost/member/join");
	}
	
	function hpIdFind(){
		window.location.replace("http://localhost/member/findIdPassword");
	}
</script>

<link rel="shortcut icon"
	href="https://www.thehandsome.com/_ui/mobile/common/images/common/thehandsome_ic_16x16.ico">
<link rel="apple-touch-icon"
	href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-precomposed"
	href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-120x120"
	href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="apple-touch-icon-120x120-precomposed"
	href="https://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
<link rel="shortcut icon" type="image/x-icon" media="all" href="//">

<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/font_443.css"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/jquery-ui.css"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/selectordie.css"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/default.css?202200826"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/display.css?20221107"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/assist.css?20220929"
	rel="stylesheet" type="text/css">
<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/devAssist.css"
	rel="stylesheet" type="text/css">

<link
	href="https://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/popup.css"
	rel="stylesheet" type="text/css">

</head>

<body class="back">
	<p>helloo</p>
	<!-- Loading -->
	<div style="display: none;">
		<div id="loadingBarDiv" style="display: none;"></div>
	</div>

	<!-- header -->
	<header class="hsome_header">
		<h1 class="h_ttl ellipsis" id="headerTitle">로그인</h1>
		<a href="/ko/main" class="h_top_home"><span>홈</span></a> <a
			href="javascript:noLink();" onclick="goBack();" class="h_prev">이전
			페이지로 가기</a>
		<ul class="h_gnbMenu">
			<li class="search"><a href="/ko/mobilecommon/search"
				onclick="GA_Event('공통', '헤더', '검색');"><span>search</span></a></li>
			<li class="cart"><a href="/ko/shoppingbag"
				onclick="GA_Event('공통', '헤더', '쇼핑백');"><span>cart</span><i>0</i></a></li>
		</ul>
	</header>

	<div class="hsome_contents mem_ct_wrap id_login" id="handsomeCust">
		<div class="mem_login_input_area">

			<form id="loginForm" th:action="@{/member/login}"
				method="post">
				<!-- 로그인 정보 입력 -->
				<div class="input_group">
					<input type="hidden" th:name="_csrf" id="inputId" th:value="${_csrf.token}"/>
					<!-- 아이디 입력 -->
					<div class="input_login_id">
						<input id="mid" name="username" type="text"
							class="login_id" placeholder="아이디/이메일을 입력하세요."
							title="아이디/이메일을 입력하세요.">
					</div>
					<!-- 패스워드 입력 -->
					<div class="input_login_pw">
						<input type="password" id="mpassword" name="password"
							placeholder="비밀번호를 입력하세요." title="비밀번호를 입력하세요.">
					</div>
					<!-- [TO DEV] Error msg here. -->
					<div class="err_wrap" th:if="error">
                         <p id="valid" style="color: red; font-size:12px;"><a style="color: red;" th:text="${exception}"></a></p>
                     </div>
					<div class="btn_wrap">
						<button type="submit" id="login_btn"
							class="btn btn_bg_b btn_login btn_popup">로그인</button>
					</div>
					<div class="login_option bio">
						<ul>
							<li class="check_area"><input
								id="_spring_security_remember_me"
								name="_spring_security_remember_me"
								path="_spring_security_remember_me" class="check"
								type="checkbox" checked=""> <label
								for="_spring_security_remember_me" class="check_txt">자동
									로그인</label></li>
							<li>
								<!-- 지문/페이스로그인 : 비활성화되는 옵션의 a태그에 hidden(display:none;)클래스 적용 -->
							</li>
						</ul>
					</div>
				</div>
				<input type="hidden" name="returnType" value="">
			</form>

		</div>
	</div>

	<footer class="hsome_footer mem_ct_wrap_bg id_login">
		<div class="login_find_area">
			<p class="tit">아이디/비밀번호를 잊으셨나요?</p>
			<div class="btn_wrap btn_wrap_div1">
				<button class="btnstl3 border_btn_gray btn_fdid"
					onclick="hpIdFind();">아이디/비밀번호 찾기</button>
				<!-- <button class="btnstl3 border_btn_gray btn_fdpw"
					onclick="hpPasswordFind();">비밀번호 찾기</button> -->
			</div>

		</div>
		<div class="login_signup_area">
			<div class="txt_wrap">
				<p class="tit">더 큰 혜택으로 보다 즐거운 쇼핑을!</p>
				<p class="sub_tit">더한섬닷컴 회원에게만 드리는 특별한 혜택을 경험하세요.</p>
			</div>
			<div class="btn_wrap btn_wrap_div1">
				<button class="btnstl3 border_btn_gray btn_signup"
					onclick="goMemberRegistration();">회원가입</button>
			</div>
		</div>

		<!-- [TO DEV] 20180625 고객센터 추가 s -->
		<div class="cscenter_area">
			<div class="txt_wrap">
				<ul>
					<li><p class="sub_tit">고객센터</p> <a href="tel:1800-5700">
							1800-5700</a></li>
					<li><a href="mailto:shophelp@thehandsome.com">shophelp@thehandsome.com</a></li>
				</ul>
				<p class="sub_tit">운영시간 평일(월~금) AM 9:00~PM 18:00 토/일/공휴일 휴무</p>
			</div>

		</div>
		<!-- 20180625 고객센터 추가 e -->
	</footer>

</body>

</html>