<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- /*********************************
 * @function : Cart Mapper.xml 
 * @author : 김주혜
 * @Date : Feb 6. 2023
 * 카트목록 mapper.xml 추가 Feb 6. 2023
 * 카트삭제 mapper.xml 추가 Feb 7. 2023
 *********************************/ -->

<mapper namespace="org.goonagoobob.mapper.cart.cartMapper">	

<!-- cartList 가져오기 -->
<select id="getCartList" resultType="org.goonagoobob.domain.cart.cartVO">
	SELECT ps.psid, substr(ps.psid,-5,2) as psid1, pcol.pcimg1, b.bname, pc.pname, pc.pid, pcol.pcprice, pcol.pccolorcode, substr(ps.psize, 0, 2) as psize, c.pquantity
	FROM brand b, product_common pc, product_color pcol, product_stock ps, cart c
	WHERE c.psid = ps.psid
	AND ps.pcid = pcol.pcid
	AND pcol.pid = pc.pid
	AND pc.bno = b.bno
	AND c.mid = #{mid}
</select>

<select id="colorList" resultType="org.goonagoobob.domain.cart.cartcolorVO">
	SELECT pcchipimg, SUBSTR(pcid, INSTR(pcid, '_')+1, 2) AS colorname
	FROM (
	select mid, psid, SUBSTR(psid, 1, INSTR(psid, '_') -1) AS pid, pquantity FROM cart WHERE mid= #{mid}
	) c RIGHT JOIN product_color pc ON c.pid=pc.pid
	WHERE pc.pid = c.pid
	AND c.psid = #{psid}
</select>

<insert id="cartInsert" >
	INSERT INTO cart
	VALUES(#{mid}, #{psid}, #{pquantity})

</insert>

<delete id="selectDelete" parameterType="java.util.List">
	DELETE cart
	WHERE mid = #{mid}
	<foreach collection="entryNumber" item="item" open="AND" close="" separator="OR"> 
      (mid = #{mid} AND psid = #{item}) 
      </foreach> 
</delete>

<!-- <select id="selectprice" resultType="org.goonagoobob.domain.cart.cartVO">
	select pc.pcprice, c.pquantity
	from product_stock ps, product_color pc, cart c
	where ps.pcid = pc.pcid
	and c.psid = ps.psid
	and c.mid = #{mid}
	<foreach collection ="entryNumber" item="item" open="AND" close="" separator="OR">
		(ps.psid = #{item})
	</foreach>
</select> -->

</mapper>