<!-- *********************************
 * @function : 상품 카테고리 레이어
 * @author : 조일우
 * @Date : Feb 8. 2023
 * 상품 카테고리 레이어 완성 Feb 8. 2023
 * 상품 카테고리 DB 연동 Feb 9. 2023
 * 
 ********************************* -->
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div class="hsome_quickMenu_contents"
	th:fragment="footerFragment">
	<style rel=" stylesheet" type="text/css">
	body{line-height:inherit;} .btn_wrap .btn{margin-left:0;}
	.swiper-slide{font-size:0;}
	</style>
	<script type="text/javascript">
	//위로 스크롤시 푸터 표시
	var main_bul = false;
	var lastScrollPosition;
	var scrollPosition = 0;
	//브랜드 탭메뉴 클릭
				function tabchg(e) {
					var $el = $(e);
					var $el_parent = $el.closest('li');
					var tab_id = $el.attr('id');
					var $tab_cont = $(tab_id);

					if (tab_id != "#brd_cate_0") {
						$("#brd_cate_0").hide();
					} else {
						$("[id^='brd_cate_']").hide();
					}

					$el_parent.siblings('li')
							.removeClass('on');
					$tab_cont.siblings('ul').hide();
					$el_parent.addClass('on');
					$tab_cont.show();
	}

	$(window).scroll(function(){
		scrollPosition = $(this).scrollTop();
		if (!main_bul) {//180909 메인 페이지가 아니라면 실행
			if ((scrollPosition < lastScrollPosition) || (scrollPosition <= 0)) {
				if (scrollPosition >= ($(document).height() - $(window).height())){
					if (scrollPosition != ($(document).height() - $(window).height())){
						$('.hsome_quickMenu').removeClass('active');
						$('a.hsome_topBtn').removeClass('upper');
					}
				} else {
					$('.hsome_quickMenu').addClass('active');
					$('a.hsome_topBtn').addClass('upper');
				}
			} else {
				$('.hsome_quickMenu').removeClass('active');
				$('a.hsome_topBtn').removeClass('upper');
			}
		}

		if (scrollPosition > 0) {
		    if (!main_bul) {
		        $('a.hsome_topBtn').addClass('active');
		    }
		} else {
			$('a.hsome_topBtn').removeClass('active');
		}

		lastScrollPosition = scrollPosition;
	});
	var tabRightAjax = 0;

	function tabLeft(e){
		if($(e).parent().attr('class') == ''){
			$(e).parent().addClass('on');
			$(e).parent().prev().removeClass('on');
			$('.fcs').css('transform','translateX(200px)');
			$('#tab_02').addClass('on');
			$('#tab_01').removeClass('on');
		}
		if (tabRightAjax == 0){
			$('.hsome_quickMenu_loader').show();
			$.ajax({
				 url : "/product/getCtgr", 
				 type : "GET", 
				 context: this,
				 success : function(data) { 
					var html5 = '';	
					 for(var i = 0; i < data.length; i++){
						 var html ='';
							html += '<li class="one_lists">';
							html += '<div class="one_wrap">';
							html += '<a class="one_link" onclick="depthTwoDown(this);" id="cate_we"> <span class="category_tit">';
							html += data[i].depth1;
							html += '</span>	</a></div>';
							html += '<ul class="two_depth">';
							html += '<li class="two_lists"><a href="/product/productList?depth1='+data[i].depth1+'"	class="two_link"	onclick="'
							
							html += '';
							
							html += '">전체보기</a></li>';
							for(var j = 0; j <data[i].depth2VO.length; j++){
								html += '<li class="two_lists"><a  class="two_link js-cate-link"	onclick="depthThreeDown(this);">';
								html += data[i].depth2VO[j].depth2;
								html += '</a>';
								html += '<ul class="three_depth">';
								html += '<li class="three_lists"><a href="/product/productList?depth1='+data[i].depth1+'&depth2='+data[i].depth2VO[j].depth2
								
								html += ''
								
								html += '"	class="three_link" ">';
								html += '전체보기';
								html += '</a></li>'
								for(var k = 0; k < data[i].depth2VO[j].depth3VO.length; k++){
									html += '<li class="three_lists"><a href="/product/productList?depth1='+data[i].depth1+'&depth2='+data[i].depth2VO[j].depth2+'&depth3='+data[i].depth2VO[j].depth3VO[k].depth3+'"	class="three_link" ">';
									html += data[i].depth2VO[j].depth3VO[k].depth3;
									html += '</a></li>'
								}
								html += '</ul></li>';

							}
							html += '</ul></li>';
							html5 += html
						}
					 $('#shop_list_ajax').html(html5);
					 tabRightAjax = 1;
					 $('.hsome_quickMenu_loader').hide();
				 
				 },
			 	error : function(request,error) {
					 alert("에러: 잠시후 다시 시도해주세요");
					 alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				 }
		});
		};
	};
	function tabRight(e){
		if($(e).parent().attr('class') == ''){
		$(e).parent().addClass('on');
		$(e).parent().next().removeClass('on');
		$('.fcs').css('transform','translateX(0px)');
		$('#tab_02').removeClass('on');
		$('#tab_01').addClass('on');
		
		}
		

	};
	function depthTwoDown(e){

		if($(e).parent('.one_wrap').siblings().is('.two_depth')){
			if($(e).parent('.one_wrap').parent('li').hasClass('on')){
				$(e).parent('.one_wrap').parent('li').toggleClass('on');
				$('.brd_shop_cate_wrap2002').find('.one_depth').find('li').removeClass('disable');
			}else{
			    if($(e).parents('div').hasClass('brd_shop_cate_wrap2002')){// 200213 lnb 수정
                    $('.brd_shop_cate_wrap2002').find('.one_depth').find('li').removeClass('on');
                    $('.brd_shop_cate_wrap2002').find('.one_depth').find('li').removeClass('disable');
                    $(e).parent('.one_wrap').parent('li').addClass('on');
                    $(e).parent('.one_wrap').parent('li').siblings('li').addClass('disable');
                }else{
                    $(e).parent('.one_wrap').parents('.one_depth').find('li').removeClass('on');
                    $(e).parent('.one_wrap').parent('li').addClass('on');
                }
			}

			$(e).parents('.shop_cont').find('.two_depth, .three_depth, .four_depth, .five_depth').slideUp(300);//181001 수정(1뎁스 메뉴 클릭했을 때 하위메뉴 닫힘)
			$(e).parents('.shop_cont').find('.one_depth .on .two_depth').slideDown(300);

			return false;
		}
	};
	function depthThreeDown(e){
        var $this = $(e);
        var $parent = $this.parent('li');
        var $shop_cont = $this.parents('.shop_cont');

        if($this.siblings().is('.three_depth')){
            if($parent.hasClass('on')){
                $parent.removeClass('on');
            }else{
                $this.parents().find('.depth_two').children('li').removeClass('on');
                $this.parents().find('.two_depth').children('li').removeClass('on');
                $parent.addClass('on');
            }

            $shop_cont.find('.three_depth, .four_depth, .five_depth').slideUp(300);
            $shop_cont.find('.two_depth .on .three_depth').slideDown(300);

            return false;
        }
	}
	function layerUp(){
		
		$.ajax({
			 url : "/product/getBrdCtgr", 
			 type : "GET", 
			 context: this,
			 success : function(data) { 
				var html0 = '';	
				var html1 = '';	
				var html2 = '';	
				var html3 = '';	
				 for(var i = 0; i < data.length; i++){
					var html = '';
					var check1 = 0;
					var check2 = 0;
					var check3 = 0;
						html += '<li class="one_lists">';
						html += '<div class="one_wrap">';
						html += '<a class="one_link" onclick="depthTwoDown(this);"> <span class="logo ">';
						html += data[i].brand;
						html += '</span>	</a>	</div>';
						html += '<div class="two_depth">';
						html += '<div class="two-depth-arrow">';
						html += '<div class="two_depth_inner">';
						html += '<ul class="depth_two depth_two_01">';
						html += '<li class="two_lists"><a href="/product/productList?brand='+data[i].brand+'"	class="two_link"	onclick="'
						
						html += '';
						
						html += '">전체보기</a></li></ul>';
						html += '<ul class="depth_two depth_two_02">';
						for(var j = 0; j <data[i].depth1VO.length; j++){
							if(data[i].depth1VO[j].depth1 == '여성'){
								check1 = 1;
							}
							else if(data[i].depth1VO[j].depth1 == '남성'){
								check2 = 1;
							}
							else {
								check3 = 1;
							}
							html += '<li class="two_lists"><a href="javascript:noLink();" class="two_link js-brand-link"	onclick="depthThreeDown(this);">';
							html += data[i].depth1VO[j].depth1;
							html += '</a>';
							html += '<ul class="three_depth">';
								html += '<li class="three_lists"><a href="'
								
								html += '/product/productList?brand='+data[i].brand+'&depth1='+data[i].depth1VO[j].depth1;
								
								html += '"	class="three_link" ">전체</a>';
							for(var k = 0; k < data[i].depth1VO[j].depth2VO.length; k++){
								html += '<li class="three_lists"><a href="/product/productList?brand='+data[i].brand+'&depth1='+data[i].depth1VO[j].depth1+'&depth2='
								html +=	data[i].depth1VO[j].depth2VO[k].depth2;
								html +=	'"	class="three_link" ">';
								html += data[i].depth1VO[j].depth2VO[k].depth2;
								html += '</a></li>'
							}
							html += '</ul></li>';

						}
						html0 += html
						if(check1 == 1){
							html1 += html;
						}
						if(check2 == 1){
							html2 += html;
						}
						if(check3 == 1){
							html3 += html;
						}
						html0 += '</ul></div></div></div></li>';
						html1 += '</ul></div></div></div></li>';
						html2 += '</ul></div></div></div></li>';
						html3 += '</ul></div></div></div></li>';
					}
				 $('#brd_cate_0').html(html0);
				 $('#brd_cate_1').html(html1);
				 $('#brd_cate_2').html(html2);
				 $('#brd_cate_3').html(html3);
				 $('.hsome_quickMenu_loader').hide();
			 },
		 	error : function(request,error) {
				 alert("에러: 잠시후 다시 시도해주세요");
				 alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			 }
		 });
		
		$('.hsome_quickMenu_contents').addClass('active absolute');		
	    $('body').addClass('hold_body');
		if(handsomePageId == "mobileMain201903Page" && handsomePageId == "mobile-homepage" && goToMySmartFilterYn == "Y") {
			goToMySmartFilterYn = "N";
			setTimeout(function(){
				$("#navTab03").click();
        		setTimeout(function(){$("#mySmartFilterRing").click();}, 1);
        	}, 1);
		} else if(handsomePageId == "productList" || handsomePageId == "outletMainPage" || handsomePageId == "edShopMainPage") {
			if(gnbType == "ca" || gnbType == "ou" || gnbType == "ed") {
				setTimeout(function(){$("#navTab02").click();}, 1);
			}
			gnbType = "br";
        } else if('mainYoursPage' == handsomePageId) {
            if ( "ca" == mainYourPageParam ) {
                setTimeout(function(){$("#navTab02").click();}, 0);
                mainYourPageParam = 'br';
            }
        }
	};
		function navShopClose() {
			$('.hsome_quickMenu_contents').removeClass('active absolute');		
			$('body').removeClass('hold_body');

			if ("mobile-homepage" == handsomePageId
					|| "mobileMain201903Page" == handsomePageId
					|| "mobileMain202105Page" == handsomePageId) {
				location.reload();
			}
			if ('mainYoursPage' == handsomePageId) {
				getBrandCategoryList();
			}

		}

		function moveBrandLookBook(brandCode) {
			var url = "/ko/magazine/lookbook";
			var $form = $('<form></form>');
			$form.attr('action', url);
			$form.attr('method', 'post');
			$form
					.append("<input type='hidden' name='CSRFToken' value='06ce81b0-2bc7-4107-a593-1cd6a21ab93a' />");
			$form
					.append("<input type='hidden' name='paramBrandCode' value='" + brandCode + "' />");
			$form.appendTo('body');

			$form.submit();
		}
		$(document).ready(function (){
			
		});
	</script>
	<!-- Contents -->
	<img src="http://thehandsome.com/_ui/handsomemobile/images/common/Spinner-1s-200px.png" alt="loading" class="hsome_quickMenu_loader" />
	<div class="hand_footer_gnb_wrap hand_footer_gnb_wrap2002">
		<div class="header">
			<h2>샵</h2>
			<ul class="ui_tab red_border_tab active">
				<li class="" style="width: calc((100% - 50px)/2);"><a onclick="tabRight(this)" id="navTab01">브랜드</a></li>
				<li style="width: calc((100% - 87px)/2);" class=""><a onclick="tabLeft(this)" id="navTab02" >카테고리</a></li>
				<li class="fcs" style="width: calc((100% - 50px)/2);"></li>
			</ul>

		</div>
		<div class="container">
			<div class="content">
				<div class="shop_cont">
					<div class="tab_cont">
						<!-- 브랜드 -->
						<div class="cont on" id="tab_01">

							<div class="brd_navigator_bar2012_wrap">
								<div class="brd_navigator_bar2012">
									<ul class="ui_tab2_202012">
										<li class="js-brand-tab-btn-2012 on" style="width:25%"><a href="#"
											id="#brd_cate_0" onclick="tabchg(this)">
												전체</a></li>
										<li class="js-brand-tab-btn-2012" style="width:25%"><a href="#"
											id="#brd_cate_1" onclick="tabchg(this)">
												여성</a></li>
										<li class="js-brand-tab-btn-2012" style="width:25%"><a href="#"
											id="#brd_cate_2" onclick="tabchg(this)">
												남성</a></li>
										<li class="js-brand-tab-btn-2012" style="width:25%"><a href="#"
											id="#brd_cate_3" onclick="tabchg(this)">
												잡화</a></li>
									</ul>
								</div>
							</div>


							<div class="brd_shop_cate_wrap2002">
								<input type="hidden" value="ko" id="brandCountryCd"> <input
									type="hidden" value="" id="whereLikeCancel">
								<ul class="shop_list_brand one_depth" id="brd_cate_0"></ul>
								<div class="brd_shop_cate_wrap2002_single">
								<ul class="shop_list_brand one_depth" id="brd_cate_1" style="display: none;"></ul>
								
								<ul class="shop_list_brand one_depth" id="brd_cate_2" style="display: none;"></ul>
								<ul class="shop_list_brand one_depth" id="brd_cate_3" style="display: none;"></ul>
								</div>
								</div>
							</div>
						<!--// 브랜드 -->
						<!-- 카테고리 -->
						<div class="cont" id="tab_02">
							<div class="cate_shop_cate_wrap2004">
								<ul class="shop_list_category ctgr one_depth" id="shop_list_ajax"
									style="min-height: 808px;">
									
								</ul>
						
								<!--flag_fixed_wrap2004 -->
								<div class="flag_fixed_wrap2004">
									<div
										class="flag_wrap scroll_flag swiper-container swiper-container-horizontal swiper-container-free-mode swiper-container-android swiper-container-wp8-horizontal">
										<ul class="swiper-wrapper " id="setUserCategory"
											style="transition-duration: 0ms;">
											<!-- 찜한 카테고리가 한 개라도 있으면 ul 태그에 active 클래스 붙임 -->
										</ul>
										<div class="my_heart_flag2002">
											<div>
												MY<span class="ico_heart200214">heart</span> <span
													class="white_action200219"></span>
											</div>
										</div>
									</div>
								</div>
								<!--//flag_fixed_wrap2004 -->
							</div>
						</div>
						<!--// 카테고리 -->

					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<a href="javascript:noLink();" class="close"
				onclick="navShopClose();">닫기</a>
		</div>
	</div>
	<div class="hs_pro_view_layer"></div>
	<!-- 팝업 배경 레이어 -->
	<edited:editednavpopup></edited:editednavpopup>
	<!-- //Contents -->
</div>
</html>